body{
    background-color: pink;
}
h1{
    color:rgb(177, 6, 6);
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
h2{
    color:blue;
    text-align: center;
    font-family: Lucida;
}

p{
    font-style: italic;
}

#l1{
    color: rgb(255, 0, 0);
}
.l2{
    color:rgb(147, 10, 10) ;
    text-decoration: underline;
}