body{
    background-color: rgb(228, 207, 248);
}


h1,h2{
    text-align: center;
}
h1{
    color: red;
    text-decoration: underline;
}

p{
    font-style: italic;
}

#l1{
    color: rgb(255, 0, 0);
}

.l2{
    color:rgb(147, 10, 10) ;
    text-decoration: underline;
}