body{
    background-color: rgb(253, 248, 206);
    scroll-behavior: smooth;
}

h1{
    text-align: center;
}
table{
    
    border: 1px solid rgb(0, 0, 0);
}
td{
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 60px;
    text-align: center;
}
#t1,#t3{
    width: 500px;
}
td{
    border-right: 1px solid rgb(214, 214, 214);
}

#R1{
    font-weight: bolder;
    background-color: #04AA6D;
    color: white;
}